[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=/bin/bash /git/projects/ilus/conf/raspberry-pi/kiosk/kiosk.sh
Restart=on-abort
User=antoine
Group=antoine

[Install]
WantedBy=graphical.target
