[Unit]
Description=Ombi
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=antoine
Group=docker
# Shutdown container (if running) when unit is stopped
ExecStartPre=docker-compose -f /home/antoine/git/projects/ilus/docker/ombi/docker-compose.yml down -v
# Start container when unit is started
ExecStart=docker-compose -f /home/antoine/git/projects/ilus/docker/ombi/docker-compose.yml up
# Stop container when unit is stopped
ExecStop=docker-compose -f /home/antoine/git/projects/ilus/docker/ombi/docker-compose.yml down -v
[Install]
WantedBy=multi-user.target
