[Unit]
Description=Transmission P2P client
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=antoine
Group=docker
# Shutdown container (if running) when unit is stopped
ExecStartPre=docker-compose --project-directory /home/antoine/git/projects/ilus/docker/transmission down -v
# Start container when unit is started
ExecStart=docker-compose --project-directory /home/antoine/git/projects/ilus/docker/transmission up
# Stop container when unit is stopped
ExecStop=docker-compose --project-directory /home/antoine/git/projects/ilus/docker/transmission down -v
[Install]
WantedBy=multi-user.target
